span.error {
    color: red;
}
input.empty-date {
    color: #808080 !important;
}
ul.z-dropdown-higlight li a:hover {
    font-weight: bold !important;
}
input.empty-date::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}
.error {
    margin-bottom: 1rem;
    display: block;
}

input[password] .text-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h-300 {
    height: 300px;
}
a.top-edit-icon svg {
    width: 24px;
    height: 24px;
}
.box-200 {
    width: 200px;
    height: 200px;
    object-fit: fill;
}
.product-img-size-sm {
    height: 200px;
    width: 100%;
}
.all-post-laravel-paginations {
    display: flex;
    justify-content: end;
}
.all-post-laravel-paginations nav div:nth-child(2) {
    display: none;
}
.all-post-laravel-paginations nav span {
    border-bottom: 3px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
}
.all-post-laravel-paginations nav a {
    border-bottom: 3px solid #d9b950 !important;
    border-right: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
    text-decoration: none;
    color: #d9b950;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}
.custom-urban-form select {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #d9b950;
    /* color: #000; */
    font-weight: 700;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    background-color: transparent !important;
    margin-top: auto;
}
.bg-footer {
    background-color: #f0e3b9 !important;
}

@media (max-width: 1200px) {
    .inner-profile-header .header-big-avatar {
        top: 0;
        left: -19px;
    }
}

@media only screen and (max-width: 418px) {
    .navbar-logo-seller {
        width: 124px;
    }
    .--header-margin-top-mobile-version {
        margin-top: 0;
    }
    .inner-profile-header {
        margin-top: 100px;
    }
}

.hover-primary {
    color: #000;
}
.hover-primary:hover {
    color: #d9b950;
}
.mh-420 {
    max-height: 420px;
}

.card-dashboard-hover {
    cursor: pointer;
    border: 3px solid #d9b950;
}
.card-dashboard-hover:hover p {
    color: #e1c773;
}
.card-dashboard-hover:hover h1 {
    color: #e1c773;
}
.card-dashboard-hover:hover {
    background-color: #000;
    border: 3px solid #000;
}

.logout-screen {
    z-index: 9999;
}

.width-backend-120 {
    width: 120px;
    height: auto;
}
.view-profile-img {
    height: auto !important;
    width: 100%;
}
