span.error {
    color: red;
}
.custom-urban-form select {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #d9b950;
    color: #000 !important;
    font-weight: 700;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
    

    footer {
        background-color: transparent !important;
        margin-top: auto;
    }
    .bg-footer {
        background-color: #F0E3B9 !important;
    }
