.max-w-520 {
  max-width: 520px;
}

.top-30 {
  top: 30%;
}
.bottom-5 {
  bottom: 5%;
}

.line-height-2 {
  line-height: 2;
}

.cursor-pointer {
  cursor: pointer;
}

.br-20 {
  border-radius: 20px;
}
.br-30 {
  border-radius: 30px;
}
.br-10 {
  border-radius: 10px;
}

.bg-secondary-two {
  background-color: #E5E5E5;
}

.text-13 {
  font-size: 13px;
}


.half-dots-position {
  right: 0;
  top: -50px;
}