$black: #000000;
$white: #fff;
$primary: #D9B950;
$primary-light: lighten($primary, $amount: 20);

$colors: (
  primary: #D9B950,
  primary-lighten: lighten($primary, $amount: 20),
  primary-darken: darken($primary, $amount: 20),
  white: #ffffff,
  black: #000000,
  gray-icon: #E5E5E5
);

@each $name, $color in $colors {
  .text--#{$name} {
    color: $color !important;
  }
}
@each $name, $color in $colors {
  .bg--#{$name} {
    background-color: $color;
  }
}
