@import "global/global";
* {
  margin: 0;
  padding: 0;
}
body,
html {
  
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  font-family: "Inter", sans-serif;
}

// header 

section {
  padding-bottom: 150px;
 
}
.section-1 {
  padding-bottom: 0;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: relative;
  z-index: 99;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .line {
    width: 100%;
    height: 3px;
    background-color: $black;
    transition: 0.3s ease-in;
    transition: all 0.3s;
  }

 .line-3 {
   width: 70%;
   
 }
 
}

.hamburger-menu-change {
  .custom-navbar {
    right: 0;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .line-1 {
    transform: rotateZ(-45deg) translate(-5px, 6px);
    transition: all 0.3s;
  }
  .line-3 {
   
    transform: rotateZ(45deg) translate(-5px, -6px);
    transition: all 0.3s;
    width: 100%;
  }
}
.line {
  width: 100%;
  height: 3px;
  background-color: $black;
  transition: 0.3s ease-in;
}

.custom-navbar {
  position: fixed;
  right: -300px;
  top: 0;
  background-color: $white;
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.custom-nav-item {
  list-style: none;
  margin: 25px;
}
.custom-nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #352f44 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 4px 0;
    &:hover::after {
      transform:scaleX(1);
      transition: all 0.3s;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: all 0.3s;
    }
}

// end of header 


// section-5 
.sec-5-card {
  background-color: $primary-light;
  &:hover {
    background-color: $primary;
    cursor: pointer;
  }
}

// section-6 

.urban-title {
  
  &:before {
    content: "";
    height: 3px;
    width: 48px;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 35%;
    // transform: translateY(-50%);
  }
  p{
    font-size: 18px;
    margin-left: 55px;
  }

}
.urban-sub-title {
  position: relative;
  font-size: 52px;
  font-weight: bold;
  display: inline-block;
  &:before {
    content: "";
    height: 19px;
    width: 80%;
    background-color: $primary;
    position: absolute;
    bottom: 8px;
    z-index: -1;
  }
  p {
    margin-left: 20px;
  }
}

.sec-7-header {
  position: relative;
  &::after {
    content: "Sellers";
    color: #F7F7F7;
    font-weight: 800;
    font-size: 162px;
    position: absolute;
    bottom:0;
    left: 10%;
    z-index: -2;
  }
}

// section-8 
.sec-8-wave {
  position: absolute;
  left: 39%;
  z-index: -1;
}

.carousel-sec-button {
  position: relative;
  &:after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: $white;
    position: absolute;
    top: 50%;
    right: -30px;
  }
}

// section-7 
.center-slick {
  .items {
    .sec-7-card {
      .sec-7-card-sm-title {
        display: block;
      }
      .sec-7-card-lg-title {
        display: none;
      }
      &:hover {
        background-color: $primary;
        .sec-7-card-sm-title {
          display: none !important;
        }
        .sec-7-card-lg-title {
          display: block;
        }
      }
    }
    &.slick-center {
      .sec-7-card {
        background-color: $primary;
        .sec-7-card-sm-title {
          display: none !important;
        }
        .sec-7-card-lg-title {
          display: block;
        }
      }
    }
  }
}



.navbar-fixed-top{
  transition: all 0.3s;
  &.scrolled {
    background-color: #fff !important;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}

section {
  padding-top: 90px;
  &.section-2, &.section-1{
    padding-top: 0;
  }
}