.productImg {
    height: 180px;
    width: 80%;
    border-radius: 12px;
    object-fit: none;
    object-position: top;
    margin: 10%;
}
.transparent-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 20px;
    background: transparent;
    border: 0;
}

.slick-track {
    display: flex;
}
.slick-slide {
    display: flex;
    height: auto;
}