/* .productImg {
    height: 180px;
    width: 80%;
    border-radius: 12px;
    object-fit: none;
    object-position: top;
    margin: 10%;
} */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer {
    margin-top: auto;
}
.br-30 {
    border-radius: 30px;
}
.product-square-size {
    height: 183px;
    width: 240px;
    object-fit: fill;
    margin-bottom: 0.5rem;
}
.productImg {
    margin: 0 auto;
    width: 240px;

    height: auto;
    margin-bottom: 12px;
    display: block;
}
.transparent-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 20px;
    background: transparent;
    border: 0;
}

.latest-products .slick-track {
    display: flex;
}
.latest-products .slick-slide {
    display: flex;
    height: auto;
}
.mh-450 {
    max-height: 450px;
}
.product-img-size {
    height: 420px;
    width: 100%;
}
.product-img-size-sm {
    height: 200px;
    width: 100%;
}
.h-300 {
    height: 300px;
}
.text-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.featured-sellers-img {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}
@media screen and (max-width: 500px) {
    .z-about {
        padding-top: 0;
    }
    .meet-sellers {
        padding-bottom: 30px;
    }
}
.btn-dark {
    background-color: #000;
    border-color: #000;
}
.hover-primary {
    color: #000;
}
.hover-primary:hover {
    color: #d9b950;
}
.text-black {
    color: #000 !important;
}
.carousel-dark-glass {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem 3rem;
}
.view-post-img {
    width: 220px;
    height: 220px;
}
.fw-500 {
    font-weight: 500;
}

.btn-outline-dark {
    border: 2px solid;
}
a.btn {
    font-weight: 700;
}
.avatar-80 {
    width: 80px;
    height: 80px;
}
/* navtabs-started  */
.nav-tabs.product-nav-tabs {
    background-color: #f9f9f9;
    border-radius: 50rem;
}
@media (max-width: 800px) {
    .nav-tabs.product-nav-tabs {
        border-radius: 10px;
    }
}
.nav-tabs.product-nav-tabs .nav-link {
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    color: #a09e9e;
}
.nav-tabs.product-nav-tabs .nav-link.active {
    color: #d9b950;
    border-bottom: 3px solid #d9b950;
}
.product-list-text {
    display: inline-block;
    max-width: 150px;
}

/* start::cartslider  */

.cart-slider {
    position: relative;
}
.cart-slider .prevArrow {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.cart-slider .prevArrow:hover {
    color: #d4af37;
}
.cart-slider .slider-for .slick-slide.slick-current.slick-active img {
    border: 1px solid #fff !important;
}
.cart-slider .slick-slide.slick-current.slick-active img {
    border: 1px solid #d4af37 !important;
}
.cart-slider .nextArrow {
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.cart-slider .nextArrow:hover {
    color: #d4af37;
}
.cart-slider .slick-prev::before {
    display: none;
}
.cart-slider .slick-next {
    right: 0 !important;
}

/* end::cart-slider  */
@media only screen and (max-width: 700px) {
    .carousel-dark-glass {
        padding: 0.5rem;
    }
}
@media only screen and (max-width: 418px) {
    .navbar-logo-seller {
        width: 124px;
    }
    .--header-margin-top-mobile-version {
        margin-top: 0;
    }
    .inner-profile-header {
        margin-top: 100px;
    }
    .navbar {
        flex-wrap: nowrap;
    }
    a.navbar-brand img {
        width: 60% !important;
        margin-right: 0px !important;
    }
    .get-started-banner-section {
        margin-top: 70px;
    }
}
@media only screen and (max-width: 454px) {
    .urban-sub-title {
        line-height: 1;
    }
}
@media only screen and (max-width: 1180px) {
    .get-started {
        background: rgba(217, 185, 80, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 1.5rem;
        border-radius: 8px;
    }
    /* .get-started h4 {
        color: #d7d7d7;
    } */
}
