* {
    margin: 0;
    padding: 0;
  }
  body,
  html {
    
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
  }
$primary: #D9B950;

.us-session-form {
  input.form-control, select.form-select {
    color: $primary;
    border: 1px solid $primary;
    // opacity: 0.8;
    &::placeholder {
      color: $primary;
    }
    &:focus {
      // opacity: 1;
      box-shadow: none;
    }
  }
  input:read-only {
    background-color: #fff;
  }
  select.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23D9B950' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }


  button {
    color: $primary;
    &:hover {
      background-color: $primary;
      color: #000;
      border: 1px solid $primary;
      
    }
  }
}